.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cover_picture {
    width: 220px;
    height: 300px;
    border-radius: 5px;
}